<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <bean class="com.csyy.core.utils.SpringContextHolder"></bean>

    <bean id="sqlSessionFactorySupport"
          class="com.csyy.core.datasource.impl.common.DefaultSpringSqlSessionFacotrySupport" />
    <bean id="resultMessageContext" class="com.csyy.core.result.ResultMessageContext" init-method="init">
        <property name="path" value="baseResultMessage/baseResultMessage.xml"/>
    </bean>
</beans>